:root {
    --bgmask: linear-gradient(225deg, #5596ff 0%, #ac2deb 100%);
    --text-completed: #D1D2DA;
    --text-gray:#494C6B;

  }




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}
